.heading
{
    font-size:29px;
    width:100%;
    margin:0;
}
.note
{
    font-size:13.34923px;
    color:black;
}
body
{
    background-size:cover;

}
.div_speed
{
    float:left;
}
.div_speed_img
{
    width:250px;
    border-radius:200px;
}
#speed
{
    font-size:25px;
    margin:16px;
}
.div_volume_img
{
    width:250px;
    border-radius:200px;
}
.div_volume
{
    float:right;
}
#volume
{
 font-size:25px;
 margin:16px;
}
.copy_right_footer
{
    position : fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:grey;
    line-height:2;
    text-align:center;
}
.play_sound
{
  width:120px;
  font-size:25px;
}
canvas
{
   border:5px solid blue;
   border-radius:20px;
}